@font-face {
    font-family: 'Glitten';
    src: url('../fonts/Glitten-Regular.woff2') format('woff2'),
        url('../fonts/Glitten-Regular.woff') format('woff'),
        url('../fonts/Glitten-Regular.svg#Glitten-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GLITTEN ALL CAPS';
    src: url('../fonts/GLITTENALLCAPSRegular.woff2') format('woff2'),
        url('../fonts/GLITTENALLCAPSRegular.woff') format('woff'),
        url('../fonts/GLITTENALLCAPSRegular.svg#GLITTENALLCAPSRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
